<!DOCTYPE html>
<html>
  <head>
    <title>Plane Listing App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MJ Parking Lot</a>
        </div>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
    <div class="form-width container">
      <h3 class="form-header">Add Aircraft</h3>
      <form action="/jets/add" method="post">
        <div class="form-text form-group">
          <div class="pad"><label for="title">Aircraft</label>
          <input type="text" name="title" class="form-control" id="title" placeholder="Enter aircraft type"></div>
          <div class="pad"><label for="body">Description</label>
          <textarea class="form-control" name="body" id="body" placeholder="Enter aircraft description"rows="3"></textarea></div>
          <div class="pad"><label for="image_url">Aircraft Image</label>
          <input type="text" name="image_url" class="form-control" id="image_url" placeholder="Paste image URL here"></div>
          <div class="pad"><input type="submit" value="Add Plane" class="btn validate btn-success">
          <a href="/jets" id="all-planes" class="btn btn-info">All Planes</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
