<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{  url_for('static', filename='stylesheets/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <title>Plane Listing App</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MJ Parking Lot</a>
        </div>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
    <div class="form-width container">
      <h3 class="form-header">Edit {{ plane.title }}</h3>
      <form action="/edit/{{ plane.id }}" method="post">
        <div class="form-text form-group">
          <div class="pad"><label for="title">Aircraft</label>
          <input type="text" name="title" class="form-control" id="title" value="{{ plane.title }}"></div>
          <div class="pad"><label for="body">Description</label>
          <textarea class="form-control" name="body" id="body" rows="3">{{ plane.body }}</textarea></div>
          <div class="pad"><label for="image_url">Aircraft Image</label>
          <input type="text" name="image_url" class="form-control" id="image_url" value="{{ plane.image_url }}"></div>
          <div class="pad"><input type="submit" value="Update Plane" class="btn btn-success">
          <a href="/jets" id="all-planes" class="btn btn-info">All Planes</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
