<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{  url_for('static', filename='stylesheets/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <title>Plane Listing App</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MJ Parking Lot</a>
        </div>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
    <div class="form-width container">
      <h3 class="form-header">Edit Plane</h3>
      <form action="/edit/{{ plane.id }}" method="post">
        <div class="form-text form-group">
          <label for="title">Aircraft</label>
          <input type="text" name="title" class="form-control" id="title" placeholder="Enter aircraft type here">
          <label for="body">Description</label>
          <textarea class="form-control" name="body" id="body" placeholder="Enter aircraft description here"rows="3"></textarea>
          <label for="image_url">Aircraft Image</label>
          <input type="text" name="image_url" class="form-control" id="image_url" placeholder="Paste image URL here">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </body>
</html>
