<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://www.clker.com/cliparts/T/i/o/c/X/Q/airplane-hi.png">
    <title>MJ Parking Lot</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MJ Parking Lot</a>
        </div>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>

    <div class="container">
      <div id="home-grid" class="panel panel-default">
        <div class="panel-heading">
          <h3 id="get-started" class="panel-title">Get Started</h3>
        </div>

      <div class="panel-body">

        <div class="list-group">
          <a href="/jets" class="list-group-item active">
            <h4 class="font list-group-item-heading">View Planes</h4>
          </a>
        </div>

        <div class="list-group">
          <a href="/jets/add" class="list-group-item active">
            <h4 class="font list-group-item-heading">Add a Plane</h4>
          </a>
        </div>

      </div>
    </div>
  </div>

    <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
