<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}"
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <title>Plane Listing App</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="app.posts">MJ Parking Lot</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div>
    </div>
  </nav>

    <div class="container">
      <div class="row">
        {% for item in planes %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{{ item.image_url }}" alt="plane image url">
            <div class="caption">
              <h3>{{ item.title }}</h3>
              <p>{{ item.body }}</p>
              <p>
                <form action="" method="post">
                <button id="delete_concert_btn" class="btn btn-danger" href="/">Delete</button>
                </form>
                <a href="#" class="btn btn-success" role="button">Edit</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
